<div class="container justify-content-center mt-2 mb-2  border border-dark rounded mb-0 r">
    <div class="row card card text-white bg-dark ">
        <div class="serch-hotel mx-auto">
          Search Hotel
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-6 col-md-6 col-xs-12 mb-2">
            <div >
                <label>From: </label>
                <app-date-picker></app-date-picker>  
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 mb-2">
            <div>
                <label>To: </label>
                <app-to-date-picker></app-to-date-picker>  
            </div>
        </div>

    </div>  
</div>



 
